[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"

[dev-packages]
pytest = "*"
assertpy = "*"
mypy = "*"
pylint = "*"
pycodestyle = "*"
pyflakes = "*"
pytest-cov = "*"
bandit = "*"

[requires]
python_version = "3.9"
